*{
    font-family:fantasy;
}
.container{
    width:1500px;
    height: 600px;
    display: flex;
    background-color: rgb(219, 219, 219);
    margin: 50px auto;
    border: 8px solid  rgb(108, 99, 255) ;
    border-radius: 15px;
}
.disc{
    width:500px;
    margin: 50px auto;
}
h1{
    font-size: 100;
    text-shadow: 1px 0px 20px rgb(108, 99, 255);
}
h2{
    color: rgb(108, 99, 255);
    font-size: 50;
}
span{
    font-weight: 700;
    color: rgb(108, 99, 255);
}
p{
    font-size: 25px;
}
h3{
    font-size: 40;
}
/* image */
.illustration{
    width:500px;
    margin:40px auto;
    padding: 20px;
}
.illustration img{
    width: 550px;
    height: 472px;
}